[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
flask-cors = "*"
pydantic = "*"
gunicorn = "*"
passlib = {extras = ["bcrypt"], version = "*"}
bcrypt = "==3.2.0"
flask-jwt-extended = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.13"
